*{
    margin: 0px;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main{
    width: 100%;
    height:100vh;
    display:flex;
    flex-direction: column;
}
.topSection{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    background-color: #f4f4f4;
}
.title{
    font-size: 5rem;
}
.description{
    font-size: 2rem;
}
.middleSection{
    background-color: #000000;
    height:25px;
    padding:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.subtitle{
    font-size: 2rem;
   color: #ffffff;
}
.middleSectiontwo{
    background-color: #f4f4f4;
    width: 100%;
    display:flex;
    flex: 1;
    justify-content: center;
    padding-bottom: 4rem;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list{
    background-color: #f4f4f4;
    border: #000000 solid 0.5rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
    width: 800px;
    
    display:flex;
    flex-direction: column;
    position: relative;
    top:2rem;
}
.landing{
    padding:0.4rem;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.A{
    font-size: 1.3rem;
    text-decoration: none;
    color: #000000;
}
.click{
    font-size:1.3rem;
    text-decoration: none;
}
.footer{
    width: 100%;
    display: flex;;
    background-color: #000000;
     margin-top: auto;
}
.footertitle{
    font-size: 1.5rem;
    padding: 2rem;
    color: #ffffff;
    margin: auto;
    position: relative;
    bottom: 0px;
}